
article.summer-post-content > div {
  padding: 0 !important;
}

.with-image {
  width: 100%;
  padding: 0;
  img {
    width: 100%;
  }
}

.with-image.two-columns {
  width: 50%;
  float: left;
}

.with-image.three-columns {
  width: 33.3%;
  float: left;
}

.with-image.strip img {
  width: 15%;
}

.right {
  float: right;
}

.left {
  float: left;
}

p iframe {
  text-align: center;
}